Django==1.6.5
Markdown==2.3.1
Whoosh==2.5.7
django-appconf==0.6
django-compressor==1.4
django-debug-toolbar==1.2.1
django-djconfig==0.1.4
django-haystack==2.1.0
django-infinite-scroll-pagination==0.1.1
git+https://github.com/mgxrace/spirit@theme
pytz==2014.3
six==1.6.1
sqlparse==0.1.11
wsgiref==0.1.2
