// Colors

$grey: #44699C !default;
$dark-grey: #566579 !default;
$light-grey: #DFE6EE !default;
$lightest-grey: #EBF1F5 !default;

$red: #c65555 !default;
$light-red: #fce2e2 !default;

$blue: #56a9c7 !default;
$dark-blue: #95a2a7 !default;
$light-blue: #e2f5fc !default;

$black: #1c1c1c !default;
$white: #F6F9Fc !default;
$yellow: #ffffe9 !default;